<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand col-sm" style="margin-left: 15px" href="">Fuun</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <form class="form-inline col-sm">
      <input class="form-control" style="width: 70%" type="search" placeholder="Search">
    </form>
    <ul class="navbar-nav col-sm-2" style="margin-left: 100px">
      <li class="nav-item active">
        <a class="nav-link" href="#">Add Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profil</a>
      </li>
    </ul>
  </div>
</nav>
<div class="h-100 d-flex align-items-center justify-content-center" style="margin-top: 20px">

  <div class="text-center"><h2>Ajout d'un Post</h2>
</div>
</div>
<div class="h-100 d-flex align-items-center justify-content-center" style="margin-top: 10px">
<div class="text-center">Soyez drôle ou préparez vous à une terrible sanction
  </div>
</div>

<div class="h-100 d-flex align-items-center justify-content-center" style="margin-top: 100px">
  <select class="custom-select" (change)="chooseType($event)">
    <option value="0">Texte</option>
    <option value="1">Image</option>
  </select>
</div>
<ng-container *ngIf="choose && choose==0">
  <div class="form-group row">
    <div class="col-md-9">
      0
    </div>
  </div>
</ng-container>
<ng-container *ngIf="choose && choose==1">
  <div class="form-group row">
    <div class="col-md-9">
      1
    </div>
  </div>
</ng-container>
<form>
  <div class="form-group">
    <label>Texte</label>
    <input type="text" class="form-control" id="text" placeholder="Enter Text">
    <small id="emailHelp" class="form-text text-muted">Soit drôle</small>
  </div>
  <button type="submit" class="btn btn-primary">Ajouter</button>
</form>

<label for="avatar">Choisi une image drôle</label>

<input type="file"
       id="avatar" name="avatar"
       accept="image/png, image/jpeg">


</body>
</html>
